html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.main, .head {
    flex: 1;
}


.homepg {
    background-image: url('../Images/home_back.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
  

.logo{
    display: block;
    width: 110px;
}

header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

a:hover {
    color: #333;
}

.icon_list{
    overflow: hidden;
}

.icon_list a{
    float:left;
    color: white;
    text-align:center;
    padding: 18px 15px;
    font-size:16px;
    text-decoration: none;
}
.icon_list a:hover{
    color:black;
}
.icon_list a.active{
    color:#333;
}

.icon_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; 
    justify-content: space-around; 
}

/* Main body */
h1 {
    margin-top: 10%; /* Adjusted to create space between the heading and the top */
    text-align: center;
    color: whitesmoke;
    font-size: 70px;
    font-family: fantasy;
    font-weight: lighter;
}

h2 {
    margin-top: 5px; /* Adjusted to create space between the headings */
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
}

.button-container {
    margin-top: 20px; /* Adjusted to create space between the buttons and the heading */
    text-align: center;
}

.homebuttons {
    color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 10px; /* Adjusted to provide spacing between buttons */
    text-decoration: none;
    border: 1px solid whitesmoke;
    padding: 10px 20px;
}


footer {
    position: fixed; /* Makes the footer stick to the bottom of the screen */
    bottom: 0; /* Anchors the footer to the bottom */
    left: 0; /* Ensures the footer extends from the left edge */
    width: 100%; /* Ensures the footer extends across the full width of the viewport */
    margin-top: 50px;
    text-align: left;
    padding: 8px 0;
    background: #333;
    color: #fff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: red;
}

footer p, a {
    margin-left: 20px;
}


@media screen and (max-width:1300px) {
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width:600px) {
    .logo {
        position: absolute;
        height: auto;
        left: -5px;
        width: 100px;
        top: 15px;
    }
    header {
        font-size: 12px;
        text-align: center;
    }  
}
